<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body class="contenido">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <div>
        <h3>Registrar Servicios</h3>
        <form [formGroup]="ContableForm" class="contable-form">
          <mat-form-field class="contable-full-width" appearance="fill">
            <mat-label>Ingrese el servicio</mat-label>
            <input matInput placeholder="servicio" type="text" id="txt_servicio" formControlName="servicio"
              autocomplete="off">
          </mat-form-field>
          <mat-form-field class="contable-full-width" appearance="fill">
            <mat-label>Ingrese el detalle</mat-label>
            <input matInput placeholder="detalle" type="text" id="txt_detalle" formControlName="detalle"
              autocomplete="off">
          </mat-form-field>
          <mat-form-field class="contable-full-width" appearance="fill">
            <mat-label>Valor del servicio</mat-label>
            <input matInput placeholder="valor del servicio" type="number" id="txt_valors"
              formControlName="precioServicio" (change)="updatePrecioTotal($event)">
          </mat-form-field>
          <mat-form-field class="contable-full-width" appearance="fill">
            <mat-label>Valor de ganancia</mat-label>
            <input matInput placeholder="valor del servicio" type="number" id="txt_valorg"
              formControlName="precioGanancia" (change)="updatePrecioTotal($event)">
          </mat-form-field>

          <p>Valor Final: {{ContableForm.value.precioTotal}}</p>
          <br>
          <input type="button" value="Guardar" (click)="CalcularDatos()" [disabled]="!ContableForm.valid">
        </form>
        <br>
        <div>
          <table>
            <th>Detalle venta</th>
            <th>Valor servicio</th>
            <th>Valor ganancia</th>
            <th>Valor Total</th>
            <tr *ngFor="let v of listaContable">
              <td>{{v.detalle}}</td>
              <td>{{v.valorServicio}}</td>
              <td>{{v.valorGanancia}}</td>
              <td>{{v.valorTotal}}</td>
            </tr>
          </table>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h3>Vender Servicio</h3>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>

</html>